@import "tailwindcss";

@theme {
  --color-bg: var(--color-neutral-950);
  --color-text: var(--color-white);
  --color-primary: var(--color-indigo-500);
  --color-secondary: var(--color-neutral-950);
  --color-accent: var(--color-neutral-800);
  --color-border: var(--color-neutral-800);
  --color-hint: var(--color-neutral-400);
  --color-error: var(--color-red-500);
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-bg text-text font-mono mx-auto container;
}

input:focus {
  outline: none;
}

.shiki {
  background-color: transparent !important;
}

* {
  @apply placeholder-hint
}

button {
  @apply cursor-pointer;
}

